<%- include('header') %>
  <%- include('carousel') %>
    <%- include('pagination') %>
      <%- include('footer') %>

        </body>

        <script>const pizzas = <%- JSON.stringify(pizzas) %></script>
        <script src="jquery/dist/jquery.js"></script>
        <script src="js/pagination.js"></script>

        </html>
